<div class="container footer-container">
    <div class="row">

        <div class="col-lg-3 col-md-6">
            <div class="footercl-01 footerCl">
                <img src="" alt="" width="100">
                <a class="ml-2" href=""><img src="" alt="" width="140"></a>
                <br><br>
                <h2>PTDC</h2>
                <div class="text">Minimargh Tourism Development Corporation</div>
                <strong>Head Office:</strong>
                <div class="text">first flour , B Block , NLI market, Gilgit-Baltistan, Pakistan.</div>
                <div class="text">Phone: +92-51-9204027</div>
                <div class="text">Fax: +92-51-9212853</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="footercl-02 footerCl">
                <ul class="list-style-remove">
                    <li><a href="pakistan.html" target="">Tourism in Minimargh</a></li>
                    <li><a href="packages_promotion.html" target="">Packages & Promotions</a></li>
                    <li><a href="news_press_releases.html" target="">News / Announcements</a></li>
                    <li><a href="quick_links.html" target="">Quick Links</a></li>
                    <li><a href="contact_list.html">Contact Us</a></li>
                    <li><a href="audited_accounts_ptdc.html">Audited Accounts </a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-md-6">
            <div class="footercl-02 footerCl">
                <ul class="list-style-remove">
                    <li><a href="publications.html" target="">Publications</a></li>
                    <li><a href="ptdc.html" target="">About PTDC</a></li>
                    <li><a href="faq.html" target="">FAQs</a></li>
                    <li><a href="jobs_op.html" target="">Careers</a></li>
                    <li><a href="geo_mapped.html" target="">Geo Mapped Sites</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="footercl-02 footerCl">
                <ul class="footer-address list-style-remove">
                    <!--<li style="text-align: justify;"><a href="javascript: void(0);"><b>PTDC Motels are closed and therefore, bookings are not available</b>. However, you may like to visit provincial tourism websites for bookings of their residential facilities. </a></li>-->
                    </li>
                    <li style="padding-top: 2px;">
                        <a href="https://www.sifc.gov.pk" target="_blank">Special Investment Facilitation Council (SIFC)</a>
                    </li>
                    <li style="padding-top: 2px;">
                        <a href="http://tdcp.gop.pk" target="_blank">Punjab: (www.tdcp.gop.pk)</a>
                    </li>
                    <li style="padding-top: 2px;">
                        <a href="https://stdc.gos.pk" target="_blank">Sindh: (www.stdc.gos.pk)</a>
                    </li>
                    <li style="padding-top: 2px;">
                        <a href="https://kptourism.com" target="_blank">KP: (www.kptourism.com)</a>
                    </li>
                    <li style="padding-top: 2px;">
                        <a href="https://visitgilgitbaltistan.gov.pk" target="_blank">GB: (www.visitgilgitbaltistan.gov.pk)</a>
                    </li>
                    <li style="padding-top: 2px;">
                        <a href="https://ajktourism.gov.pk" target="_blank">AJK: (www.ajktourism.gov.pk)</a>

                        <li>
                            <span>Follow us on: </span>
                            <a href="https://www.facebook.com/ptdc.pk" target="_blank">
                        <img src="images/facebook_logos_PNG19759.png" alt="fb" width="48" height="42" border="0"></a>
                            <a href="https://www.twitter.com/ptdcofficial" target="_blank">
                            <img src="images/twitter-logo.png" alt="fb" width="39" height="34" border="0" style="margin-right: 3px;">
                        </a>
                            <a href="https://www.instagram.com/ptdc_official/" target="_blank">
                        <img src="images/instagram-logos-png-images-free-download-5.png" alt="ig" width="40" height="35" border="0"></a>
                            <a href="https://www.youtube.com/channel/UCuxsxnA4nonPN5jYSQIC3tw" target="_blank">
                        <img src="images/youtube.png" alt="youtube" width="50" height="37" border="0"></a>
                            <!--<a href="https://www.linkedin.com/in/pakistan-tourism-development-corporation-4a562b202/" target="_blank">-->
                            <!--<img src="images/linked_in.png" alt="linked_in" width="40" height="40" border="0"></a>-->
                        </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="footer-copyrights">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="copyRights text">©2024 PTDC. Allrights Reserved.
                    <p>
                </div>
            </div>
            <div class="col-md-6">
                <!-- <div class="poweredBy text">Powered by <a href="https://devstudio.us" target="_blank">Devstudio</a></div> -->
            </div>
        </div>
    </div>
</div>