<div class="container">

    <div class="top-header">
        <ul class="list-style-remove">
            <li><a href="https://salampakistan.gov.pk/" target="_blank"><i class="fas fa-hiking"></i>Minimargh  <b>Northern Area Pakistan</b></a></li>
            <li><a href="tel:+92-51-9204027"><i class="fa fa-phone"></i> +92-314-1964250</a></li>
            <li><a href="tel:1422"><i class="fa fa-clock"></i>24/7 Tourism Helpline: </a></li>
            <li><a href="mailto:info@tourism.gov.pk"><i class="fas fa-envelope"></i> saddamsheikh@gmail.com</a></li>
        </ul>
    </div>

    <div class="header-nav">
        <div class="row log">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="logo-wrapper">
                    <a href="/"><img src="" alt="logo"></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="margin-bottom: 20px;">
                <nav class="site-menu">
                    <div class="navbar navbar-expand-lg">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                            <span class="fas fa-bars"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="collapsibleNavbar">
                            <ul class="list-style-remove">
                                <li><a href="index.php">Home</a></li>
                                <li><a href="pakistan.html">Minimargh</a></li>
                                <li><a href="publications.html">Publications</a></li>
                                <li><a href="media_gallaries.html">Media Gallery</a></li>
                                <li><a href="public_notices.html" target="">Public Notices</a></li>
                                <li><a href="https://visa.nadra.gov.pk/visa-on-arrival-tourist/" target="_blank">call me </a></li>
                                <!--<li><a href="covid_19_main_new.html" target="_blank"><h5 style="color:red;">COVID-19 Update</h5> 
                                <img src="COVID-19/images/new.gif" alt="new" width="60" height="35">-->
                                </a>
                                </li>
                                <!--<li><a id="clickSearch" href="javascript:;"><i class="fa fa-search"></i></a></li>-->
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

        </div>
    </div>

</div>